.pip-wrapper {
	background-color: transparent !important;
	stroke:  none !important;
	top: 8px !important;
	left: 8px !important;
	border: none !important;
	transform: scale(70%) !important;
}
.pip-small {
      box-shadow: none !important;
    /*square corners */
  	border-top-left-radius: 6px !important;
  	border-top-right-radius: 6px !important;
  	border-bottom-right-radius: 6px !important;
  	border-bottom-left-radius: 6px !important;
    border: none !important;
  }
